.container{
    width: 70%;
    height: auto;
    background-image: url("../Assets/images/wp3354895-dark-gradient-backgrounds.jpg");
    position: relative;
    margin: auto;
    top: -2vw;
}
h3{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1vw;
    text-align: center;
    font-size: 2vw;
}
h2{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1vw;
    text-align: center;
    font-size: 1vw;
    margin: 2vw;
}
.logo_dan{
    width: 5vw;
    display: inline-block;
    margin-right: 1vw;
}

h1{
    text-align: center;
    font-size: 1vw;
    margin: 1vw;
}
a{
    margin: 1vw;
    color: white;
    font-family: cursive;
    text-decoration: none;
}
.cover{
    width: 50vw;
    display: block;
    margin:auto;
    border-radius: 1vw;
    border-style: solid;
    border-color: white;  
}
.kosong{
    height: 10vw;
}
p{
    font-size: 0.5vw;
    color: gold;
    text-align: center;
    
}
.container_gallery{
    width: 70%;
    height: auto;
    background-image: url("../Assets/images/wp3354895-dark-gradient-backgrounds.jpg");
    position: relative;
    margin: auto;
    top: -2vw;
    
}
.box1{
    width: 20vw;
    height: auto;
    margin-left: 2vw;
    display: inline-block;
    
}
.foto1{
    width: 20vw;
    height: auto;
    border-radius: 5px;
}
.box2{
    width: 20vw;
    height: auto;
    display: inline-block;
}
.foto2{
    width: 20vw;
    height: 15vw;
    border-radius: 5px;
    margin-bottom: 1vw;
    margin-left: 2vw;
}
.foto3{
    width: 20vw;
    height: auto;
    border-radius: 5px;
    margin-left: 2vw;

}
.box3{
    display: inline-block;
}
.box4{
    margin-top: 2vw;
    display: block;
    width: auto;
}
.foto5{
    width: 64vw;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.foto6{
    width: 20vw;
    height: auto;
    border-radius: 5px;
    margin-left: 3vw;
    margin-right: 1vw;
}
.container_maps{
    display: block;
    margin: auto;
}
.maps{
    display: block;
    margin: auto;
}